/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700);

// fonts
$font-family-sans-serif: "Lato", sans-serif !default;
$font-family-serif: "Lato", serif !default;
$font-family-monospace: "Fira Mono", monospace !default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #00008b !default;
$code-block-bg: #f2f2f2;
$code-block-font-size: 0.7em;
$theme-yellow: #FFE0A8AA;


$presentation-font-smaller: 0.7rem;

/*-- scss:rules --*/

h1 {
  font-family: "Fira Mono";
  font-size: 24px;
}

.author, .date {
  font-size: 34px;
}

.info-box {
  margin-top: 10px;
  margin-right: 10px;
  border-left: 10px solid #006DAE;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e8f4f8;
}


.flow {
  background-image: url("/images/data_suit.jpg");
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
	-webkit-text-stroke-width: 0px;
	-webkit-text-stroke-color: black;
	animation: animate 40s linear infinite;
	font-weight: 900;
  font-size: 15vw;
}

.flow-sm {
  background-image: url("/images/data_suit.jpg");
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
	-webkit-text-stroke-width: 0px;
	-webkit-text-stroke-color: black;
	animation: animate 40s linear infinite;
	font-weight: 900;
  font-size: 8vw;
}


.reveal .title {
}

hg {
  font-size: 12vw;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  line-height: 1.0;
  padding: 0;
  margin: 0;
  color: white;
}

.scrolling {
  max-height: 1300px;
  max-width: 600px;
  overflow: auto;
  background: #f0f0f5;
}


hm2 {
  font-size: 5vw;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  line-height: 1.0;
  padding: 0;
  margin: 0;
  color: white;
}


hm1 {
  font-size: 8vw;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  line-height: 1.0;
  padding: 0;
  margin: 0;
  color: white;
}


hb {
  float: left;
  text-align: left;
  padding: 0;
  text-decoration: none;
  font-size: 36px;
  line-height: 1.2;
  font-weight: bold;
  color: black;
  margin-top:-10px;
}

@keyframes animate {
	0% {
		background-position: left 0px top 10px;
	}
	40% {
		background-position: left 800px top 10px;
	}
}
